@Charset "utf-8";
*{
	margin:0;
	padding:0;
	outline: none;
}


#PG1{
	color:#C0C0C0;
	position: absolute;
    margin-top: 60px;
	margin-left: 43%;
}


html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family:"Segoe UI", sans-serif;
	line-height: 135%;
}


a{
	color:#747474;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}
a, #PRB:hover{
	padding: 5px;
	color:#626262;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}
a:active{
	color:#C40000;
	}
	
#Ima{
	max-width: 100%;
	height: auto;
	width: auto;
}

#Video{
	position:absolute;
	margin-left:5%;
	margin-top:-630px;
}

#One{
	margin-top:20px;
	height: 75px;
}

#bta{
	float:left;	
	height:75px;
	margin-left:55px;
}

#btb{
	float:right;
	width:200px;
	height:75px;
	margin-right:65px;
}

.sbs{
	margin-top: 10px;
	width:500px;
	height:auto;
}


#botton3{
	padding: 10px 10px;
}

#PRB{
	margin-top:10px;
	padding: 5px;
	border-radius: 5px;
}

#PRB :hover{
	background-color:#ececec
}
	/*Selection blok*/
	
	::selectoin{background:#E860E8;color:#fff;}
	::-moz-selectoin{background:#E860E8;color:#fff;}
	
header, footer{
	width: 100%;
	background-color: #fff;
	min-height: 100 px;
	float: auto;
}
header{
    border-bottom: 1px solid silver;
    min-width: 100%;	
	max-width: 100%;
	position: fixed;
	padding-top:55px;
	z-index: 1;
}

}
input[type=text].field:hover{
	border: 2px solid #C40000;
	transition: all.4s ease;	
}
input[type=text].field:active{
	border: 2px solid #C40000;
	transition: all.2s ease;
}
/*Основные стили для сайта*/

#articles{
	
	float: center;
}
#wrapper #articles article{
	width: 980px;
	height: 1240px;
	box-sizing: border-box;
	background-color:#FFFFFF ;
}

#wrapper #articles article #Ima{
	width: 100%;
	height: 280px;
}

/*Стили для футера*/

footer, #Page-warp{
	background-color: #2F2E2E;
	width: 100%;
	border-top: 1px solid #2F2E2E;
	margin-top: 10px;
}

#ili{
	margin-bottom: 90px;
}

#text1{
	color:#3F3E3E;
}
#page-wrap:after {
	content: "";
	display: block;
	color:#FFFFFF;
}
footer, #page-wrap:after{
	margin-top:0%;
	height:95px;
}
#page-wrap{
	min-height: 94%;
	margin-bottom:-10px;
}